@font-face{
    font-family: "FaceyFont";
    src: url("./FaceyFont/Faceyfont-Regular.otf") format("opentype");
}

.main{
    background-color:#F5F2EB;
    background-image:
        linear-gradient(#93c0f5 1px, transparent 1px);
    background-size: 100% 32px;
}


.container{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    
}

.main-font {
    font-family: "FaceyFont", serif;
}
.normal-box {
    font-family: "FaceyFont", serif;
    font-size: 28pt;
    width: 1000px;
}



.big-box {
    font-family: "FaceyFont", serif;
    font-size: 128pt;
    width: 384px;
}


.letter-showcase{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1000px;
}
.letter{
    font-family: "FaceyFont", serif;
    display: inline-block;
    font-size: 128px;
    color: #000000;
    padding:10px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    background-color: #eeeeee;
    transition: all 0.2s ease;
}

.letter:hover{
    background-color: #000000;
    color:#ffffff;
    transform:translateY(-5px);
}

#header{
    margin-bottom: 20px;
    font-size: 32pt;
    position: sticky;
    top:0;
    background-color: #eeebe3;
    padding: 0.03px 20px;
    z-index: 10000;
    

    background-image:
        linear-gradient(#93c0f5 1px, transparent 1px);
        border-style: groove;
    background-size: 100% 32px;

    transition: all 0.25s ease-in-out;
}

#header.hide{
    transform: translateY(-100%)
}

a{
    color:inherit;
    text-decoration: none;
}

.slidecontainer{
    width: 100%
}
.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:25px;
    height:25px;
    background:#93c0f5;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: #93c0f5;
    cursor:pointer;
}